{
    color: #ffffff;
    color:#0d1c3b;
    color:#26314d;
    color:#fe72ec;
    color:#44e2ff;
    color:#ffac28;
    color:#1660e8;
    color:#9f86ff;
    color:#ff6156;
    color:#50ff00;
    color:#E8E349;
    color:#46FFD3;
}

{'#fe72ec','#44e2ff' ,'#ffac28' ,'#1660e8' ,'#9f86ff' ,'#ff6156' ,'#50ff00' ,'#E8E349'
}